
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;

}

:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --GradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(201, 33%, 16%);
    --TextColor: hsl(240, 4%, 36%);
    --WhileColorDeam: hsl(0, 0%, 93%);
    --InputColor: rgb(239, 239, 239);
    --GreyText: rgb(190, 190, 190);
    --BodyColor: rgb(240, 240, 246);
    --CardBG: rgb(255, 255, 235);
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.btn{
    padding: 0.6rem 1.5rem;
    background: var(--GradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn a{
    color: var(--WhiteColor);
    font-weight: 500;
}
.btn:hover{
    background: var();
}
img, video{
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;
}
body{
    background: var(--BodyColor);
    
}